.main {
    width: 100%;
    height: 100%;

    &.welcome {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0% 30%;

        div {
            text-align: center;

            .welcome-logo {
                width: 300px;
            }

            h1 {
                color: #cfbeac;
            }
        }
    }
}

@media (max-width: 550px) {
    .main {
        &.welcome {
            background-size: auto;
            background-position: center;

            div {
                .welcome-logo {
                    width: 50%;
                }

                h1 {
                    font-size: 1.5em;
                }
            }
        }
    }
}

@media (min-width: 800px) {
    .main {
        &.finish {
            background-size: 100%;
            background-position: 0% 30%;
        }
    }
}